<nav class="navbar">
    <p class="navtext" style="color: white">Hellofy</p>
</nav>

<main class="board" cdkDropListGroup>
    <ng-container *ngIf="quadro">
        <div class="columns" *ngFor="let coluna of quadro.colunas">
            <div class="items"
            cdkDropList
                    [cdkDropListData]="coluna.tasks"
                    (cdkDropListDropped)="drop($event)"
                    >
                <p class="column-title">{{coluna.name}}</p>
                <div class="task-container">
                    <div class="task" *ngFor="let item of coluna.tasks" cdkDrag>
                        <p class="task-title">{{item.name}}</p>
                        <p class="task-subtitle">{{item.autor}}</p>
                        <button (click)="openDialog(item.name, item.autor, item.descricao)">Open dialog</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</main>