<nav class="navbar">
    <p class="navtext" style="color: white">Hellofy</p>
</nav>

<main class="board" cdkDropListGroup>
    <div class="columns" *ngFor="let coluna of quadro.colunas">
        <div class="items"
        cdkDropList
                [cdkDropListData]="coluna.tasks"
                (cdkDropListDropped)="drop($event)">
            <p class="column-title">To-do</p>
            <div class="task-container">
                <div class="task" *ngFor="let item of coluna.tasks" cdkDrag>
                    <p>{{item}}</p>
                </div>
            </div>
        </div>
    </div>
</main>